@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

body {
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;

    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
